{
  "name": "brewery.js",
  "version": "1.0",
  "author": "Boughpohpue Lukas Kulik"
  "domain": "web-development",
  "subdomain": "client-side",
  "category": "utils",
  "group": "javascript",
  "export_as": "class",
  "default_export": "Wizard",
  "include": [
    "content/*.js"
  ],
  "description": "Javascript 'potinos brewery' - magical approach to dynamic objects factory.",
  "tags": [
    "js",
    "javascript",
	"objects factory",
    "dynamic objects factory"
  ]
}
